html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a[href="#top"] {
  margin: 1rem;
  display: block;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

p {
  margin: 0;
}

h2 {
  margin-top: 50vh;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}

.menu {
  margin-bottom: 100vh;
  font-size: 125%;
}

.menu li {
  margin-bottom: 1rem;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-color: #222;
  border: medium solid #000;
}

.item {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #666;
  border: medium solid #999;
}

.sub-item {
  padding: 1rem;
  background-color: #ddd;
  border: medium solid #ccc;
}

/* Ejercicio 1: Grid Explícita */
.grid-explicit {
  display: grid;
  /* Grid 3x3 */
  grid-template-rows: 2rem 20vh 30%;
  grid-template-columns: 50% 100px 1fr;
  /* Grid 5x4 */
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, auto);

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);

  /* Grid de 4cx5r */
  grid-template-columns: 20% repeat(2, 30%) 20%;
  grid-template-rows: repeat(5, auto);
  /* Separación en filas y columnas */
  gap: 100px 0px;
  gap: 0;
}

.grid-explicit .item:nth-child(10) {
  background-color: #f20;
  color: #fff;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;

  /* Shortcut */
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  /* Shortcut donde 1° Es grid-row-start / grid-column-start/ grid-row end / grid-column-end */
  grid-area: 5 / 1 / 6 / 2;
}

.grid-explicit .item:nth-child(12) {
  color: aquamarine;
  background-color: darkblue;
  grid-row: span 2;
  grid-column: span 2;
}

.grid-explicit .item:nth-child(15) {
  color: chartreuse;
  background-color: darkgreen;
  grid-row: 1 / span 3;
  grid-column: 1 / span 2;
}

/* Ejercicio 2: Grid con Nombres de Línea -- Es alta paja ponerle nombre a cada cosa y se hace textoso*/
.grid-line-names {
  display: grid;
  /* Grid de 3c x 3r */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: [linea-c1] 1fr [linea-c2] 1fr [linea-c3] 1fr [linea-c4];
  grid-template-rows: [linea-r1] auto [linea-r2] auto [linea-r3] auto [linea-r4];
}

.grid-line-names .item:nth-child(3) {
  color: cyan;
  background-color: darkblue;
  grid-row: linea-r3 / linea-r4;
  grid-column: linea-c1 / linea-c4;
}

/* Ejercicio 3: Grid con Áreas */

.grid-areas {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 100px repeat(2, 1fr) 60px;
  grid-template-areas:
    "header    header"
    "content   sidebar"
    "content   ."
    "footer     footer";
}

.header {
  background-color: darkblue;
  color: cyan;
  grid-area: header;
}

.content {
  background-color: aquamarine;
  grid-area: content;
}

.sidebar {
  background-color: yellow;
  grid-area: sidebar;
}

.footer {
  background-color: orange;
  grid-area: footer;
}

/* Ejercicio 4: Grid implícita de bloque y de línea */
.grid-implicit {
  /* Grid de 4cx 3r */
  display: grid;
  display: inline-grid; /* Se comporta en línea */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
}

/* Ejercicio 5: Flujo de la Grid */
.grid-flow {
  display: grid;
  /* Grid de 5c x 4r */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 150px);

  grid-auto-flow: column;
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

/* Ejercicio: 6 Flujo Denso de la Grid */
.grid-flow-dense {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-auto-flow: row dense; /* Sirve para columna y filas */
}

.grid-flow-dense .item:nth-child(9) {
  color: cyan;
  grid-row: span 3;
  grid-column: span 3;
}

/* Ejercicio 7: Celdas en capas (superposición) */
.grid-layers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-layers .item:nth-child(1) {
  background-color: cyan;
  color: #000;
  grid-area: 1 / 1 / 3 / 3;
}
.grid-layers .item:nth-child(2) {
  background-color: yellow;
  color: blue;
  grid-area: 1 / 3 / 3/ 5;
}
.grid-layers .item:nth-child(3) {
  background-color: violet;
  grid-area: 3/ 1 / 5 / 3;
}
.grid-layers .item:nth-child(4) {
  background-color: black;
  color: white;
  grid-area: 3/ 3 / 5 / 5;
}
.grid-layers .item:nth-child(5) {
  background-color: darkred;
  opacity: 0.75;
  color: white;
  grid-area: 2/ 2 / 4 / 4;
}

/* Ejercicio 8: Orden de Grid Items */
.grid-order {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-order .item:nth-child(1) {
  order: 1;
}
.grid-order .item:nth-child(2) {
  order: -5;
}

/* Ejercicio 9: Alineación de Grid Items */
.grid-align {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  /* Alinea elementos grid en el EJE X */
  justify-items: center;
  /* Alínea elementos grid en el EJE Y */
  align-items: center;
}

/* Ejercicio 10: Alineación de Grid Tracks */
.grid-align-tracks {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);

  /* Alínea los tracks de la grid en el EJE X*/
  justify-content: space-evenly;
  /* Alínea los tracks de la grid en el EJE Y */
  align-content: space-evenly;
}

/* Ejercicio 11: Tamaños Máximos y Mínimos de Grid Tracks */
.grid-min-max {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, minmax(100px, min-content));
}

/* Ejercicio 12: Grids con patrones repetitivos */
.grid-repeat {
  display: grid;
  grid-template-columns: repeat(4, 10% 20% 30% 40%);
  grid-template-columns: repeat(1, 10% 20% 30% 40%);
  grid-template-rows: repeat(2, 100px 200px);
  /* grid-auto-rows: 150px; */
  grid-auto-rows: 150px;
}

/* Ejercicio 13: Grids Dinámicos */
.grid-dynamics {
  display: grid;
  grid-template-columns: repeat(4, 100px);

  /* Auto-fill Rellena la grid con tracks generados dinàmicamente  */
  grid-template-columns: repeat(auto-fill, 100px);
  /* Auto-fit Ajusta la grid con los tracks existentes */
  grid-template-columns: repeat(auto-fit, 100px);

  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/* Ejercicio 14: Responsive sin Media Queries */
.grid-responsive {
  display: grid;
  /* Autofit : Ajusta la cuadricula a los elementos disponibles  */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* gap: 1vw; */
}

/* Ejercicio 15: Grid Anidados Y SubGrid*/
.grid-nested {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.subgrid {
  /* Para que la característica de subgrid funcione es necesario hacer lo siguiente:
        1) Definir explícitamente el tamaño que ocupará el elemento que aplicará subgrid dentro del contenedor padre grid, es decir definir sus propiedades grid-column y grid-row 
        2) Aplicar display grid al elemento que aplicará subgrid
        3) Aplicar el valor de subgrid a las columnas, a las filas o a ambas depende de cómo se requiera*/

  grid-column: span 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
