*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.titulares {
  padding: 1rem;
  background-color: #222;
  color: #eee;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 70px;
}

.menu ul {
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: #eee;
  font-size: 1.3rem;
}

.hero-image {
  background-image: url("https://placeimg.com/1920/1080/animals");
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh;
}

.hero-image div {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: inherit;
}

.hero-image h1 {
  font-size: 5vw;
}

/* Responsive sin Media */
.flex-responsive {
  display: flex;
  flex-flow: row wrap;
}
.flex-responsive-item {
  border: thin solid #f60;
  flex: 1 1 200px;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu ul {
    display: flex;
  }

  .menu li {
    padding: 0.5rem;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }
  .flex-item {
    flex: 0 0 50%;
  }
  /* .flex-order-1 {
    order: 1;
  } */
  .flex-row {
    flex-direction: row-reverse;
  }
}
